<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inloggning</title>
</head>
<body>
    {% extends "layout.html" %}

    {% block content %}
    <h1>Välkommen till Marcus forum för fårskallar</h1>

    <h2>Logga in</h2>
    <form method="post">
        Användarnamn: <input type="text" name="name" required><br><br>
        Lösenord: <input type="password" name="password" required><br><br>
        <button type="submit">Logga in</button>
    </form>

    <p>Har du inget konto? <a href="/registrera">Skapa ett konto här</a></p>
    {% endblock %}
</body>
</html>